@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");
* {
  margin: 0;
  padding: 0;
  border: red 1px solid;
}

body {
  font-family: "Lora", serif;
  background-color: floralwhite;
  /* max-width: 800px; */
  /* margin: 0 auto; */
}

.top {
  display: grid;
  grid-template-columns: 6fr 2fr 1fr;
  grid-template-rows: 400px;
}

.top h1,
.top h2 {
  padding: 20px;
}

.title {
  grid-column: 1;
}

.banner {
  grid-column: 2;
  background-color: darkseagreen;
  padding: 50px;
}

.ingredients {
  grid-column: 4;
}
